<div class="header-container">
  <mat-card class="header-content">
    <table>
      <tr>
        <td class="text-content">
          <ul>
            <li>
              <h2 class="name"> Felipe Abisai Vera Rodriguez</h2>
            </li>
            <li>
              <p class="description">Persona responsable con su trabajo, que le gusta el arte y el deporte pero tambien todo lo que tenga que ver con el mundo de la tecnologia.</p>
            </li>
          </ul>
        </td>
        <td class="image-content">
          <img class="profile-pic" src="https://firebasestorage.googleapis.com/v0/b/semestre-7556f.appspot.com/o/images.jpeg?alt=media&token=ce8de494-c2da-4128-871a-2ee442d3aafb" />
        </td>
        <td>
          <ul>
            <li>
              <mat-icon>mail</mat-icon><p>fvera8192agmail.com</p>
            </li>
            <li>
              <mat-icon>phone</mat-icon>
              <p>156151561016</p>
            </li>
            <li>
              <mat-icon>location_on</mat-icon>
              <p>Naranjal,  Veracruz</p>
            </li>
            <li>
              <mat-icon>facebook</mat-icon>
              <p>Felipe Vera</p>
            </li>
          </ul>
        </td>
      </tr>

    </table>
  </mat-card>
</div>
