.skills-section {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.skills-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.skills-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills-tags .tag {
    background-color: #56c8d8; /* Color similar al de las etiquetas en la imagen */
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.skills-tags .tag:hover {
    background-color: #3aa0b0; /* Cambio de color al hacer hover */
}
